<%= form_for @industrye, url: url, method: meht, do |f| %>
	<div class="controls">
	    <%= f.label :industrye, class: 'form-control input-sm', style: 'width: 280px;' %>
	    <%= f.label :parent_id, class: 'form-control input-sm', style: 'width: 280px;' %>
	</div>
<% end %>