<tr>
  <td class="center aligned">
    <span><%= industrye.industry%></span>
  </td>
  <td class="center aligned">
    <%= industrye.parent_id%>
  </td>
  
  <td class="center aligned">
    <%= link_to edit_industrye_path(industrye), data: {content: '修改', variation: 'inverted'}, class: 'ui blue icon button' do %>
      <i class="edit icon"></i>
    <% end %>
  </td>
</tr>
