
<div class="left floated wide column">
      <%= link_to new_admin_industrye_path, class: 'ui primary button' do %>
        <i class="plus icon"></i> 增加
      <% end %>
</div>

<table class="ui selectable striped celled table">
    <thead>
    <tr >
      <th class="center aligned">类型</th>
      <th class="center aligned">父类id</th>
      <th class="center aligned">修改</th>
      <th class="center aligned">删除</th>
    </tr>
    </thead>
    <tbody>
    <%= render partial: 'list', collection: @industryes, as: :industrye %>
    </tbody>
  </table>

